body{
  background-color: black;
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
}
#home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;align-content: center;
}
.slogan{width: 25%;text-align: center;}
nav{width:25%;
  margin-bottom:200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav>ul{
  float: right;
}
ul>li{margin: 40px;
  display: inline-block;
}
a{
  color: purple;
  text-decoration: none;
}
a:hover{
  color: black;
  background-color: gray;
}

#one{font-size: 20px;}
#two{font-size: 24px;}
#three{font-size: 30px;}
#profile{width:40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/myAvatar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid gray;
  border-radius: 100%;
  height: 30vw;
  width: 30%;
  box-shadow: 0 5px 5px 0;
  text-align:center;
  margin-bottom: 100px;
  font-size: 50%
}
#profile h2{color:#33EFDD;font-weight: 900;text-shadow: 5px 5px 5px black;background-color: rgba(200,200,200,0.6);}
.lang>li{
  display: block;
}
#about , #projects>ul{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#about div,#projects li{padding: 30px;
  width: 30%;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0;
  margin: 50px;
}
span{
  color:violet;
}
footer{
  background: linear-gradient(to bottom,black 50%,gray 100%);
  border: 2px solid gray;
}
#contact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contact>div{
  display: inline-block;
  text-align: center;
}
#contact p,.rights p{
  padding: 0;
  margin: 0;
  display: block;
}
.rights{
  margin-left: 25%;
  width: 50%;
  border-top:  2px solid gray;
}
@media only screen and (max-width: 1000px) {
  #home{}
  #slogan,nav,#about div,#projects li{width: 90%;text-align: center;}
  #profile{
    width: 80%;
    height:80vw;
  }
}
